@import "tailwindcss";

.input_field {
  @apply  block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent! autofill:bg-transparent! border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 ;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: theme('colors.gray.900');
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent !important;
    background-clip: text !important;
    caret-color: currentColor; /* Fix cursor color */
    transition: all 5000s ease-in-out 0s !important;
  }

  .dark &:-webkit-autofill,
  .dark &:-webkit-autofill:hover,
  .dark &:-webkit-autofill:focus {
    -webkit-text-fill-color: theme('colors.white');
  }
}

.label{
  @apply peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}

